<h3> My Portfolio </h3>
<div class="search-area">
  <h4> Search Stocks </h4>
  <%= form_tag search_stock_path, method: :get, data: { turbo_frame: "results" } do %>
    <div class="mb-3">
      <%= label_tag :ticker_symbol, "Enter Stock Ticker:", class: "form-label" %>
      <%= text_field_tag :ticker_symbol, nil, required: true, class: "form-control", placeholder: "e.g., AAPL, GOOG, TSLA" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <turbo-frame id="results">
  
  </turbo-frame>
</div>
